            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="site-title-wrapper">
                    <h1 class="site-title">
                        <a title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
                    </h1>
                    <a class="button-square button-jump-top js-jump-top" href="#">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>

                <p class="footer-copyright">
                    <span>Copyright &copy; 2020 Ashish Rao </span>
                </p>
                <p class="footer-copyright">
                    <span>Deployed on <a href="https://netlify.com/">Netlify</a></span>
                </p>
            </div>
        </footer>

        <script src="{{ .Site.BaseURL }}js/jquery-1.11.3.min.js"></script>
        <script src="{{ .Site.BaseURL }}js/jquery.fitvids.js"></script>
        
        {{ if .Site.Params.highlightJsUrl }}
            <script src="{{ .Site.Params.highlightJsUrl }}"></script>
        {{ else if .Site.Params.highlightJsLocalUrl }}
            <script src="{{ .Site.BaseURL }}{{ .Site.Params.highlightJsLocalUrl }}"></script>
        {{ else }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        {{ end }}
        
        <script src="{{ .Site.BaseURL }}js/scripts.js"></script>
    </body>
</html>
